{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./.next/production-server/src", "./pages"],
        "alias": {
          "@server": "./.next/production-server/src",
          "@pages": "./pages"
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
